clouds:
  {{ cifmw_bootstrap_cloud_name }}:
    identity_api_version: {{ cloud_secrets[ cifmw_bootstrap_cloud_name ].identity_api_version }}
    region_name: {{ cloud_secrets[ cifmw_bootstrap_cloud_name ].region_name }}
{% if cloud_secrets[ cifmw_bootstrap_cloud_name ].auth_type is defined and
 "applicationcredential" in cloud_secrets[ cifmw_bootstrap_cloud_name ].auth_type %}
    auth:
        auth_url: {{ cloud_secrets[ cifmw_bootstrap_cloud_name ].auth_url }}
        application_credential_id: {{cifmw_bootstrap_app_credential_id_override|default(cloud_secrets[ cifmw_bootstrap_cloud_name ].application_credential_id) }}
        application_credential_secret: {{ cloud_secrets[ cifmw_bootstrap_cloud_name ].application_credential_secret }}
    auth_type: "v3applicationcredential"
{% elif cloud_secrets[ cifmw_bootstrap_cloud_name ].password is defined %}
    auth:
        auth_url: {{ cloud_secrets[ cifmw_bootstrap_cloud_name ].auth_url }}
        username: {{ cloud_secrets[ cifmw_bootstrap_cloud_name ].username }}
        password: {{ cloud_secrets[ cifmw_bootstrap_cloud_name ].password }}
        project_name: {{ cloud_secrets[ cifmw_bootstrap_cloud_name ].project_name }}
        user_domain_name: {{ cloud_secrets[ cifmw_bootstrap_cloud_name ].user_domain_name }}
        project_domain_name: {{ cloud_secrets[ cifmw_bootstrap_cloud_name ].project_domain_name }}
{% endif %}
    regions:
      - name: {{ cloud_secrets[ cifmw_bootstrap_cloud_name ].region_name }}
        values:
          networks:
            - name: public
              routes_externally: true
            - name: private
